body {
  background-color: #95d36c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23590ad7' fill-opacity='0.29' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1{
    font-family: 'Lobster', cursive;
}

.pantalla {
  display: flex;
  flex-direction: row;
  width: 50em;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  background-color: greenyellow;
  border: 2px solid black;
  border-radius: 30px;
  margin: 0 auto;
}

.ventana {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  margin: 4px;
  padding: 10px;
}

.pre {
  font-family: "Patrick Hand SC", cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.padre {
  background-color: salmon;
  display: flex;
  flex-wrap: wrap;
  width: 40em;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
}

.elemento {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid rgb(19, 18, 18);
  margin: 4px;
}
.elemento:hover {
  width: 105px;
  height: 105px;
  box-shadow: 2px 2px 31px -4px rgba(0, 0, 0, 0.75);
}

.acciones {
  display: flex;
  flex-direction: row-reverse;
  width: 35em;
  margin: 0 auto;
}

.accion {
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}

.ticket{
  display: table;
  background-image: url(./img/pngtree-light-paper-texture-textured-background-image_260958.jpg);
  width: 550px;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding: 22px;
}

.tablaTicket{
  width: 95%;
  font-size: 0.9em;
  border:none;
  box-shadow: none;
}

.datosTicket{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.importeTotalCompra{
  padding-top: 30px;

}
